* {
    margin: 0;
    padding: 0;
}

/*Personnalisation des boutons de la barre de navigation*/
/*Définition de nav comme flexbox*/
nav{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

/*Définition barre de navigation en row
Liste ul avec classe spécifique pour l'identifier
Ajout de li pour s'assurer d'avoir toujours un affichage en  ligne */
ul.barreNav{
    list-style: none;
    display: flex;
    gap: 5em;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}

/*Effet visuel des boutons de la navigations*/
.boutons{
    text-decoration: none; /*Suppression du soulignage des liens*/
    display:flex; /*Permet de considérer les éléments comme des blocks*/
    padding: 1em;
    margin: 0.2em 1em;
    border:0.1em solid black;
}

/*.boutons:hover{
} /*Ajout d'effet au  survolage & display des autres éléments*/
.btnAideSuite{
    visibility: hidden;
    padding: 0.2em;
    border: 0.1em solid red;
    margin: 0.1em;
}
/* Modifications &  Personnalisation aspect du bouton Connexion*/
#btnConnexion {
    height: 3em;
    width: 6em;
    border:0.2em solid black;
    border-radius: 0.5em;
    background-color: white;
}
#btnConnexion:hover {
    background-color: grey;
}