/***Règles Générales***/
* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

main {
  margin: 0 50px;
}

a{
    text-decoration: none;
    color: inherit;
}
/***Barre de navigation***/
/*Modification taille logo*/
header img {
  height: 50px;
  width: 50px;
}

/*Customisation Barre Navigation*/
.barre-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.btn-nav {
  border: 2px solid black;
  border-radius: 10px;
  background-color: blanchedalmond;
}

.switch-langue {
  background-color: aqua;
  border: 3px dotted grey;
  border-radius: 25px;
}

/*Main*/
/**/
.box-main{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

main img {
    height: 300px;
    width: 30%;
  }

.box-titre{
  background-color: aquamarine;
  border: 1px solid grey;
  box-shadow: 5px 15px 20px black;
}
/***Footer***/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  background-color: bisque;
}
